body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

.product {
    border: 1px solid #ccc;
    display: inline-block;
    width: 200px; /* Sesuaikan lebar sesuai kebutuhan */
    margin: 18px;
    vertical-align: top;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}


.add-to-cart {
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5em 1em;
}

.hidden {
    display: none;
}

#cart-items {
    margin-top: 2em;
}

#cart-list {
    list-style: none;
    padding: 0;
}

#cart-list li {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

#total-price {
    font-weight: bold;
    margin-top: 1em;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    z-index: 1;
}

.menu a {
    padding: 75px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.menu a:hover {
    background-color: #575757;
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 35px;
    z-index: 2;
    color: #ffffff;
}

.cart {
    position: fixed;
    top: 40px;
    right: 35px;
    z-index: 2;
}

.cart a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 5px;
}

.cart-button {
    margin-left: 5px;
}